@CHARSET "UTF-8";

@import '/css/fonts2.css';

* {padding: 0; margin: 0;}
body, html {height: 100%;}
body {overflow: auto; overflow-y: scroll; font-size: 18px; line-height: 1.66em; color: #545454; font-family: 'Nunito Sans', sans-serif; background: #fff;}
h1, h2 {font-family: "Chivo", sans-serif;}
img {display: block;}
.main {min-height: 100%;}
.main > div.content {padding: 70px 20px 70px; font-size: 15px; line-height: 1.66em;}
.main > div.content {padding: 70px 20px 110px;}
.main > div a {color: #545454;}
.main > div.content ul {margin-left: 20px;}
a {background: transparent;}
.icons, .header {position: fixed; top: 0; width: 100%; text-align: center; background: white; padding: 10px 0; z-index: 9; color: white;}
.header {display: block; height: 0px; padding: 0; border: 0; overflow: hidden;}
.scrolled .header::after {
    content: ""; 
    width: 100%; 
    height: 1px; 
    background: rgba(0,0,0,0.05);
    position: absolute; 
    bottom: 0; 
    left: 0;
}
.icons {display: none; bottom: 0; top: auto; box-shadow: 0px 0px 5px rgba(0,0,0,0.3); background: #121619;}
.icons > div {display: flex; justify-content: space-around;}
.icons > div a {display: block; position: relative; flex: 1; padding: 10px 0; margin: -10px 0; color: rgba(255,255,255,0.5)!important; font-weight: bold;}
.icons > div a.active {background: #5b4f96!important; color: white!important;}
.icons > div a#branding {display: none;}
.icons > div a .img {height: 24px; opacity: 0; display: block; width: auto; margin: 3px auto 3px;  background-repeat: no-repeat; background-position: center center; background-size: contain;}
.icons > div a span {display: none;}
.icons > div a:hover {background: rgba(255,255,255,0.05);}
.icons > div a .img + .img {opacity: 0.5; position: absolute; top: 10px; width: 24px; width: 100%;}
.icons > div a.active .img {opacity: 0!important;}
.icons > div a.active .img + .img {opacity: 1!important;}

.icons {display: block;}
a {cursor: pointer;}
p, ul, ol, .form {margin-bottom: 1.66em;}
h1 + p, p.lead {
    font-size: 26px;
    line-height: 1.66em;
    max-width: 700px;
    padding-top: 0;
    font-weight: 300;
    color: #aaa;
}
h1 + p a, p.lead a {color: #aaa!important;}
.bold {font-weight: bold;}
.text-center {text-align: center;}
h1 {font-size: 62px; margin-bottom: 20px; line-height: 1em; font-weight: 600; letter-spacing: -2px;}
h1:first-letter {text-transform: uppercase;}
h1::after {
    display: block;
    content: "";
    width: 24px;
    height: 2px;
    background: black;
    margin: 20px 0 10px;
}
h2 {font-size: 35px; margin-bottom: 25px; line-height: 1em; font-weight: 600; padding-top: 5px; letter-spacing: -1px;}
h3 {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
* + h3 {margin-top: 30px;}
* + h2 {margin-top: 60px;}
.btn-primary, .btn-danger, .btn-default {
    margin-right: 10px; 
    display: inline-block; 
    background: #5b4f96; 
    color: white!important; 
    padding: 16px 35px;
    font-weight: 700; 
    font-size: 12px; 
    line-height: 1.66em;
    border: 1px solid #5b4f96; 
    text-transform: uppercase; 
    border-radius: 6px; 
    text-decoration: none; 
    cursor: pointer; 
    text-decoration: none!important; 
    letter-spacing: 4px; 
    font-family: 'Nunito Sans', sans-serif;
}


.btn-default, .btn-danger {background: white; color: #5b4f96!important;}
h3 a {text-decoration: none;}
.pull-right {float: right;}
h1 a.btn-primary, .pull-right .btn-primary, .pull-right .btn-danger, .pull-right .btn-default,
.btn-primary.pull-right, .btn-danger.pull-right, .btn-default.pull-right {margin-right: 0px; margin-left: 10px;}

.menu {background: #121619; color: white; min-height: 100%;;}
.menu > div {width: 200px; padding: 30px 0; margin: 0 auto;}
.menu > div a {color: rgba(255,255,255,0.5); text-decoration: none; display: block; margin: 0px auto; padding: 10px 0 10px 55px;}
.menu > div a .img {background-repeat: no-repeat; background-position: center center; position: absolute; width: 25px; height: 25px; margin-left: -45px; opacity: 0.5;}



h1 .btn-primary {font-size: 12px; line-height: 1.66em; margin-top: 5px; float: right; }
@media (max-width: 800px) {
    h1 .btn-primary {position: absolute; right: 20px; top: 15px;}
}
.inline-icon {height: 16px; display: inline-block;}
pre {font-family: 'Roboto', sans-serif;}
.alert {position: fixed; left: 0; width: 100%; background: #eee; font-weight: bold; z-index: 999;animation-name: slideOutTop; animation-duration: 3s; bottom: 100vh;}
.alert.alert-success {background: #5b4f96; color: white;}
.alert.alert-danger {background: #5b4f96; color: white!important;}
.dot {border-radius: 100%; width: 0px; height: 0px; background: #ddd; display: inline-block; margin-right: 10px; position: relative; bottom: 1px; overflow: hidden; padding: 8px 0 0 8px; font-size: 11px;}
.money span.dot:before {content: none;}
.dot.warning {background: #5b4f96;}
.dot.danger {background: red; }
.dot.danger2 {animation: blinker 1s linear infinite;}
@keyframes blinker {
    50% {
        background: #fff;
    }
  }
.alert.alert-success button, .alert.alert-danger button {color: white;}
.alert > div {margin: 13px auto 15px; padding: 0 20px;}
.alert button {opacity: 0.5; cursor: pointer; font-weight: bold; position: absolute; padding: 10px 20px; background: none; border: 0; font-size: 130%; right: 0; top: 0; z-index: 50;}
@media (min-width: 800px) {
    .alert > div {width: calc(100% - 300px); position: relative; left: 130px; max-width: 1200px;}
}
@keyframes slideOutTop {
    0%   {transform: translateY(100%);}
    80%   {transform: translateY(100%);}
    100% {transform: translateY(0%);}
}


.card {border: 1px solid rgba(0,0,0,0.05); border-radius: 3px; padding: 5px 0px 8px;}
.default .card > div {padding: 30px 30px 20px 30px; border: 0;}
.default .card {background: white; max-width: 420px; margin: 0 auto; position: relative; z-index: 1;}



.default .content {padding-top: 5px!important; width:100%; max-width: 100%; left: 0;}
.default .main > div.content {padding-left: 0; padding-right: 0;}
.default .content::before {content: ""; position: absolute; z-index: 0; left: 0; width: 100%; top: 0; background: #121619;; height: 200px;}
.default .content a#branding {color: white; position: relative; width: 80px; display: block; margin: 10px auto 20px; opacity: 0.4; text-align: center; text-decoration: none; font-weight: bold;}
.default .content a#branding img {width: 100%;}
body.default {background: #eee;}



dl {margin-bottom: 15px;}
dt {font-weight: 700;}
dd {font-size: 18px; line-height: 1.66em;}
div + p {padding-top: 15px;}



.row {display: flex; flex-wrap: wrap; justify-content: space-between; position: relative;}
.col50 {flex: 1; min-width: 46%; max-width: 46%; margin-bottom: 40px;}
@media (max-width: 800px) {
    .row {display: block;}
    .col50 {min-width: 100%; max-width: 100%;}
    .card {border: 0px solid rgba(0,0,0,0.05); padding: 0px;}
    .card > div {padding: 0 0 10px;}
}
@media (max-width: 500px) {
    .card {border-radius: 0;}
    .default .card > div {padding: 30px 20px 20px 20px;}
    .default .card {max-width: 100%;}
}




/* desktop navigation */
.onlymobile {display: block!important;}
.onlydesktop, .icons div.bottom {display: none!important;}
@media (min-width: 800px) {
    .content {margin: 0 auto; width: calc(100% - 500px); max-width: 1200px; position: relative; left: 130px;}
    .icons {position: fixed; left: 0; top: 0; bottom: auto; width: 260px; height: 100vh; border-top: 0; padding-top: 0; text-align: left;}
    .icons > div {display: block;}
    .icons > div a {display: block; margin: 0px auto; padding: 10px 35px;}
    .icons > div a .img {position: absolute; width: 25px; height: 25px;}
    .icons > div a .img + .img {width: 25px;}
    .icons > div a span {display: inline-block; padding-left: 45px; font-size: 12px; text-transform: uppercase; letter-spacing: 2px; font-weight: normal;}
    .icons > div a#branding {display: block; margin: 0 0 25px; padding: 0; background: none;}
    .icons > div a#branding > span {padding-left: 0px; display: block; height: 160px; background: rgba(7, 9, 10,0) url(/img/invoicelionlogo.svg) 55px 125px / 55% auto no-repeat; opacity:0.5;}
    .icons > div a#branding > span > span {padding-left: 0px; display: block; height: 160px; background: rgba(7, 9, 10,0) url(/img/invoicelion_reversed.svg) 45% 30px / auto 53% no-repeat; opacity:1;}
    .onlydesktop, .icons div.bottom {display: block!important;}
    .icons div.bottom {position: absolute; padding-bottom: 35px; padding-top: 25px; bottom: 0; width: 100%;}
    .onlymobile {display: none!important;}
}
@media (min-width: 800px) and (max-width: 1300px) {
    .content {width: calc(100% - 200px); left: 27px;}
    .icons {width: 55px; overflow: hidden;}
    .icons > div a {padding: 10px 15px;}
    .icons > div a#branding {margin-bottom: 15px;}
    .icons > div a#branding > span {height: 75px;}
    .icons > div a#branding > span > span {height: 75px; background-position: center center; background-size: 70% auto;}
    .icons div.bottom {padding-bottom: 25px; padding-top: 15px;}
}








/* form */
.form-group, dd {max-width: 500px; }
.form input {margin-bottom: 1em;}
input, select, textarea {height: 40px; padding: 0 10px; line-height: 40px; background: none; border: 1px solid #ccc; width: calc(100% - 22px); font-size: 16px; font-family: 'Roboto', sans-serif;}
label {
    display: block; 
    font-weight: 700; 
    padding-bottom: 3px; 
    background: transparent;
}
label a {float: right; font-weight: 300;}
table + p {padding-top: 30px;}
.form-group {margin-bottom: 15px;}
select {padding: 0 10px; height: 42px; width: calc(100% - 2px);}
textarea {height: 200px; line-height: 1.66em; padding-top: 9px; padding-bottom: 9px;}
input[type="checkbox"] {height: auto; width: auto; max-width: none;}
th[order] {cursor: pointer;}
.tag {text-decoration: none; margin-top: 5px; border: 1px solid #ccc; border-radius: 3px; display: inline-block; padding: 2px 7px; font-size: 85%; margin-right: 2px;}
input[type="file"] { border:0; padding:0;}
.form-group.has-error, .form-group.has-error a {color: red!important;}
.form-group.has-error input,
.form-group.has-error select,
.form-group.has-error textarea {border: 1px solid red;}



/* tables */
table {width: 100%; border: 0; border-collapse: collapse;}
tr {border-bottom: 1px solid rgba(0,0,0,0.05);}
tr.hover:hover {background: rgba(0,0,0,0.05); cursor: pointer; border-bottom: 1px solid transparent;}
th, td {padding: 5px 0; text-align: left; position: relative;}
td:before {
    content: '&nbsp;';
    visibility: hidden;
}
td > span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
tr:last-child {border-bottom: 0;}
thead tr:last-child {border-bottom: 1px solid rgba(0,0,0,0.05);}

@media (max-width: 800px) {
    table.responsive {position: relative;}
    table.responsive, 
    table.responsive thead, 
    table.responsive tbody, 
    table.responsive tr, 
    table.responsive td, 
    table.responsive th {text-align: left!important; border: 0; display: block; width: 100%!important;}
    table.responsive td, table.responsive th {padding: 0;}
    table.responsive tr {border: 1px solid rgba(0,0,0,0.05); width: calc(100% - 22px)!important; margin-bottom: 10px; padding: 10px;}
    table.responsive th {display: none;}
    table.responsive th[order] {
        display: inline-block !important;
        width: auto !important;
        margin-right: 5px;
    }
}

@media (max-width: 800px) {
    table.responsive-minimal td, table.responsive-minimal th {display: none;}
    table.responsive-minimal td:first-child, table.responsive-minimal th:first-child,
    table.responsive-minimal td:last-child, table.responsive-minimal th:last-child,
    table.responsive-minimal .name {display: table-cell;}
}


.bool {text-align: center; width: 50px;}
.day {width: 30px;}
.date {width: 100px;}
.name {width: 300px;}
.money {width: 100px; text-align: right;}
.money span::before {content: '€ '}
.number {width: 50px;}
.text {width: 100px;}
.text_medium {width: 200px;}
.text_long {width: 300px;}
.precentage {width: 55px;}
.status {width: 10px; text-align: right;}


.main div p a {text-decoration: underline;}






/* iOS fix */
body.iOS .icons {
    padding-bottom: env(safe-area-inset-bottom);
}





#debugger-bar {
    z-index: 99; 
    left: auto!important; 
    right: 0!important; 
    width: 200px!important; 
    border-left: 1px solid silver!important;
    color: gray!important;
    font-size: 14px!important;
    line-height: 1.4em!important;
}
#debugger-bar a {
    display: inline!important; 
    padding: 0!important; 
    color: gray!important;
}





/* set colors */
body {color: #545454;}
.default .content::before {background: #121619;;}
th, .main > div h3, .main > div h3 a, dt, .main > div dt a {font-style: normal; color: #aaa; font-weight: normal;}
h1, h2 {color: #000000; font-weight: 600;}
input, select, textarea {color: #000000;}
.main > div h3 {color: #5b4f96;}
h1:after {background: transparent;}
.main > div a, td span, dd {color: #545454;}
.main > div a {text-decoration: none;}
.icons > div a .img:first-child {opacity: 0;}
th.selected {font-style: italic;}
label, label a {font-weight: normal; font-style: normal; color: #aaa!important;}